<div class="flex flex-col sm:flex-row items-center">

  <div class="flex w-1/2 bg-white justify-center">
    <%= image_tag 'icons/logo.jpg'%>
  </div>

  <div class="flex bg-white text-blue-900 p-2 w-1/2 align-middle">
    <%= form_with(model: @user) do |form| %>
      <% @user.errors.full_messages.each do |error| %>
        <div>
          <%= error %>
        </div>
      <% end %>

      <div class="p-2 flex flex-col">
        <%= form.label :email %>
        <%= form.email_field :email, required: true, class: "rounded-md border-blue-900 mb-2 w-full placeholder-blue-900 text-blue-900" %>
      </div>

      <div class="p-2 flex flex-col">
        <%= form.label :username %>
        <%= form.text_field :username, required: true, class: "rounded-md border-blue-900 mb-2 w-full placeholder-blue-900 text-blue-900" %>
      </div>

      <div class="p-2 flex flex-col">
        <%= form.label :password %>
        <%= form.password_field :password, required: true, class: "rounded-md border-blue-900 mb-2 w-full placeholder-blue-900 text-blue-900" %>
      </div>

      <div class="p-2 m-2 bg-orange-500 text-center text-white font-bold rounded-md">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>